.Size{
    width: 100%;
    height:800px;
}

.carousel-caption {
    display: flex;
    font-family: 'Manrope', sans-serif; 
    align-items: center;
    justify-content: center;
    margin-bottom: 250px;
}

.carousel-caption h1{
    font-size: 3.7rem;
    margin-bottom: 20px;
}


.carousel-caption p{
    font-size: 1.5rem;
}